@media only screen and (min-device-width : 320px) and (max-device-width : 1200px) {
	
	#parentContainer1{
		z-index:2;
		position: relative;
		width: 100%;
		height: 1000px;
	}

	#leftChild1{
		float: none;
		width: 100%;
		height:300px;
	}

	#leftChild1 h1{
		width: 100%;
		margin-left: 0px;
	}

	#leftChild1 h2{
		width: 100%;
		margin-left: 0px;
	}

	#rightChild1{
		margin-top: 300px;
		margin-left:0px;
		width: 100%;
	}

	#socialMedia{
		position:absolute;
	}

	#signup{
		position: absolute;
		margin-top: 100px;
		left: 50%;
		margin-left: -130px;
		height:320px;
		width: 260px;
	}

}
