{% extends 'layout.html' %}

{% block navbar %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/faq">FAQ</a></li>
<li><a href="mailto:starters@starters-singapore.com">Contact</a></li>
{% endblock %}

{% block content %}


<style>
  #faqBody{
  background-color: #f4f3ed;
  margin-top: 60px;
  margin-left: 0px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 60px;
  }

@font-face {
    font-family: 'Adelle';
    src: url('../public/font/adellebasic_bold-webfont.eot');
    src: url('../public/font/adellebasic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../public/font/adellebasic_bold-webfont.woff') format('woff'),
         url('../public/font/adellebasic_bold-webfont.ttf') format('truetype'),
         url('../public/font/adellebasic_bold-webfont.svg#adelle_basic_rgbold') format('svg');
    font-weight: narrow;
    font-style: normal;
}

  #title{
  color:#f07746;
  font-size: 24px;
  font-family: "Adelle",  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
  }

  .question{
  font-family: "Adelle",  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
  color:#f07746;
  font-size: 16px;
  }

  .answer{
  font-family: "Adelle", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
  color:#00a1ec;
  font-size: 16px;
  }

.tip{
  font-size: 12px;
}
</style>

<div class="container">
  <div id="faqBody" class="span6">
    <p id="title">
      Frequently Asked Questions
    </p>
    <p class="question">
      Q. What is Starters?
    </p>

    <p class="answer">
      We are a social club that brings two groups of awesome people together. Meetings are set up among three boys and three girls, just to spice things up ;). <br><br>All you need to do is sign up with Facebook, and invite two of your friends to join your group. Based on your info, we'll match you up with a group we just know you'll hit it off with, hosted at the most happening bars in Singapore. <br><br> We organize the place, the drinks, and of course, the other three. All you have to do is reserve your slot and pay for your first round of drinks.
    </p>

    <p class="question">
      Q. How does it work?
    </p>

    <p class="answer">
     <font color="ff3d7f"> Step 1:</font> Sign up on our main page. You will be prompted to access your facebook account so that we have a better profile of you.
     <br><br><i class="tip"> <font color="ff3d7f">Tip:</font> We use Facebook login so we can match groups easier without making you fill out piles of forms. We will NEVER post on your wall, show up in your profile in any way, or post your embarassing photos to your exes.</i>

     <br><br>
    <font color="ff3d7f"> Step 2:</font> You will receive an e-mail from us with a link to invite your buddies.
     <br><br><i class="tip"><font color="ff3d7f"> Tip:</font> You MUST bring two friends in order to register your group!</i>
    
    <br><br>
    <font color="ff3d7f">Step 3:</font> When a matching group is found, we will notify you and confirm a convenient time for everyone.
    <br><br><i class="tip"><font color="ff3d7f">Tip:</font>  Please be patient if this takes time. We would rather make you wait a little longer to find a good fit than setting you up with the wrong crowd. If you are impatient, you can speed up the process by inviting more friends!</i>
    
    <br><br>
    <font color="ff3d7f">Step 4:</font> When the timing is sorted out, we will send you an email with time, venue and a free drinks voucher. All you need to do is show up and have fun!
    </p>

    <p class="question">
     Q.  So how much is it?
    </p>
    
    <p class="answer">
      It’s $25 per person which includes matching fee and free first round of drinks. When your matching group is found, we will send you an email where you can pay online and receive your confirmation and drinks coupon.
    </p>
    
    <p class="question">
      Q. Why can’t I just go by myself? Why do I need to bring two of my friends?
    </p>
    
    <p class="answer">
      Everything is always more fun when you do it with friends!
    </p>
    
    <p class="question">
      Q. Do I get to know who I’m going to meet?
    </p>
    
    <p class="answer">
      Nope, that’s the whole fun of it. You will only get to find out who you are meeting with at the table we reserved!
    </p>
    
    
  </div>
</div>

{% endblock %}
