{% extends 'layout.html' %}

{% block navbar %}
<li class="active"><a href="/">Home</a></li>
<li><a href="mailto:starters@starters-singapore.com">Contact</a></li>
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script src="../public/javascript/fbInit.js"></script>

<div id="parentContainer1">
  <div id="leftChild1">
    <h1>Starters Singapore</h1>
    <h2>Starters is a Singapore-based social club that <br> 
      brings two groups of friends, three ladies and three gents, 
      <br>together over food & drinks.</h2>
  </div>

  <div id="rightChild1">
    <div id="signup">
      <form id="clientInfo">
	<input type='text' id= 'name1' name='name1' placeholder='name' value ='' />
	<input type='text' id= 'email1' name='email1' placeholder='email' value=''/>
	<input type='text' id= 'mobile1' name='mobile1' placeholder='mobile' value='' />
	<input type='text' id= 'referral1' name='referral1' placeholder='referral (optional)' value=''/>
	<a class="btn btn-block btn-success" onclick="login()">Apply Now</a>
      </form>
    </div>
  </div>
</div>

<div id="dimmer"></div>
<form id = "fbInfo" method = "post" action = "#">
  <input type='hidden' id= 'email' name='email' value='' />
  <input type='hidden' id= 'name' name='name' value='' />
  <input type='hidden' id= 'firstname' name='firstname' value='' />
  <input type='hidden' id= 'gender' name='gender' value='' />
  <input type='hidden' id= 'mobile' name='mobile' value='' />
  <input type='hidden' id= 'referral' name='referral' value='' />
  <input type='hidden' id= 'school' name='school' value='' />
  <input type='hidden' id= 'work' name='work' value='' />
  <input type='hidden' id= 'full' name='full' value='' />
</form>
  
{% endblock %}
