{% extends 'layout.html' %}


{% block content%}


<form id="clientInfo">
  <input type='text' id= 'name1' name='name1' placeholder='name' value ='' /><br>
  <input type='text' id= 'email1' name='email1' placeholder='email' value=''/><br>
  <input type='text' id= 'mobile1' name='mobile1' placeholder='mobile' value='' /><br>
  <input type='text' id= 'referral1' name='referral1' placeholder='referral (optional)' value=''/><br>
  <a id="applyButton" onclick="login()">Apply Now</a><br>
</form>

{% endblock %}
