<!DOCTYPE html>
<html>
  <head>
    <title>Starters Singapore | Social Group Dating</title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    <link rel="stylesheet" type="text/css" href="../public/css/index-mobile.css">
    <link rel="stylesheet" type="text/css" href="../public/css/zocial/zocial.css">
  </head>
  
  <body>      
    <div class="navbar navbar-inverse navbar-fixed-bottom"> 
      <div class="navbar-inner">  
	<div class="container">
	  <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
	    <li><a href="mailto:starters@starters-singapore.com">Contact</a></li>
	  </ul>
	</div>
      </div>
    </div>
    
    {% block content %}
    {% endblock %} 
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
