<!DOCTYPE html>
<html>


  <head>
    <title> Starters Singapore | Social Eating & Drinking Club </title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../public/css/layout2.css" type="text/css"/>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/javascript/fbInit.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet" type="text/css">
  </head>


  

  <body>
    <div id="fb-root"></div>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav pull-right">
	    <li><a class="popup" href="#">SIGN UP</a></li>
	  </ul>
	</div>
      </div>
    </div>
    
    <div class="signUpWrapper">
      <h2> Sign Up </h2>
      <form class="signUpForm">
	<input type="text" name="name1" placeholder="Name" value=""/>
	<input type="text" name="email1" placeholder="Email" value=""/>
	<input type="text" name="mobile1" placeholder="Mobile" value=""/>
	<input type="text" name="referral1" placeholder="Referral (optional)" value=""/>
	<a class="btn btn-success" onclick="login()">Apply Now</a>
      </form>
    </div>
    
    <div class="hero-unit" id="hero1">
      <h1>Starters Singapore</h1>
      <h2>Starters is a Singapore-based social club<br>
	that brings two groups of friends,<br>
	three ladies and three gents, <br>
	together over food & drinks.</h2>
    </div>
    
    
    
    <div class="container">
      <div class="signUpButton popup">
      </div>
    </div>
    

    
    <div class="container">      
      <hr class="featurette-divider"></hr>
      
      <div class="row">
	<div class="span4">
	  <div class="img"></div>
	</div>
	
	<div class="span4">
	  <div class="img"></div>
	</div>
		
	<div class="span4">
	  <div class="img"></div>
	</div>
      </div>
      
      <div class="row">
	<div class="span4">
	  <p> We are a social club that brings two groups of awesome people together. Meetings are set up between three boys and three girls, just to spice things up! ;)
	</div>
	
	<div class="span4">
	  <p>All you need to do is sign up with Facebook, and invite two of your friends to join your group. Based on your info, we'll match you up with a group we just know you'll hit it off with, hosted at the most happening bars in Singapore.
	</div>
	
	<div class="span4">
	  <p>We organize the place, the drinks, and of course, the other three. All you have to do is reserve your slot and pay for your first round of drinks. </p>
	</div>
      </div>
    
      <hr class="featurette-divider"></hr>
      
      <h2 class="featurette-heading" style="text-align:center;">How does it work?</h2>
      
      <div class="featurette">
	<a href="http://www.facebook.com/singapore.starters"><img class="featurette-image pull-right" src="../public/img/stepone.jpg"></a>
	<span class="featurette-heading muted">
	  Step One
	</span>
	<p class="steps"> Sign up on our main page. You will be prompted to access your Facebook account so that we have a better profile of you.</p><br>
	<p> <font color="ff3d7f">Tip:</font> We use Facebook login so we can match groups easier without making you fill out piles and piles of forms. We will NEVER post on your wall, show up in your profile in any way, or post your embarassing photos to your exes.</p>
      </div>
      
      <hr class="featurette-divider"></hr>
      <div class="featurette">
	<img class="featurette-image pull-left" src="../public/img/steptwo.jpg">
	<span class="featurette-heading muted">
	  Step Two
	</span>

	<p class="steps"> You will receive an e-mail from us with a link to invite your buddies.</p><br>
	<p><font color="ff3d7f">Tip:</font> You MUST bring two friends in order to register your group! Trust us, everything is always more fun when you do it with friends! </p>
      </div>

      <hr class="featurette-divider"></hr>
      
      <div class="featurette">
	<img class="featurette-image pull-right" src="../public/img/stepthree.jpg">
	  <span class="featurette-heading muted">
	    Step Three
	  </span>
	<p class="steps"> When a matching group is found, we will notify you and confirm a convenient time for everyone. We'll send you an email with the time, venue, and a free drinks voucher. All you need to do is show up and have fun!</p>
	<p><font color="ff3d7f">Tip:</font> Please be patient if this takes time. We would rather make you wait a little longer to find a good fit than setting you up with the wrong crowd. If you are impatient, you can speed up the process by inviting more friends!</p>
      </div>

      <hr class="featurette-divider"></hr>
    </div>


    <div class="hero-unit" id="hero2">
      <h2>We make Singapore a more happening place.</h2>
    </div>






   
    <div class="dimmer"></div>
    <form id = "fbInfo" method = "post" action = "#">
      <input type='hidden' id= 'email' name='email' value='' />
      <input type='hidden' id= 'name' name='name' value='' />
      <input type='hidden' id= 'firstname' name='firstname' value='' />
      <input type='hidden' id= 'gender' name='gender' value='' />
      <input type='hidden' id= 'mobile' name='mobile' value='' />
      <input type='hidden' id= 'referral' name='referral' value='' />
      <input type='hidden' id= 'school' name='school' value='' />
      <input type='hidden' id= 'work' name='work' value='' />
      <input type='hidden' id= 'full' name='full' value='' />
    </form>


  </body>
</html>
