<!DOCTYPE html>
<html>
  <head>
    <title> Starters Singapore | Social Eating & Drinking Club </title>
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css" type="text/css"/>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <ul class="nav">
	    {% block navbar %}
	    {% endblock %}
	  </ul>
	  <ul class="nav pull-right">
	    <li>
	      <a href="https://www.facebook.com/singapore.starters">
		<img src="../public/img/fbIcon.jpg">
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
    </div>

  </body>
</html>
