@font-face {
    font-family: 'Adelle';
    src: url('../font/adellebasic_bold-webfont.eot');
    src: url('../font/adellebasic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adellebasic_bold-webfont.woff') format('woff'),
         url('../font/adellebasic_bold-webfont.ttf') format('truetype'),
         url('../font/adellebasic_bold-webfont.svg#adelle_basic_rgbold') format('svg');
    font-weight: narrow;
    font-style: normal;
}


body{
    margin:0px;
    padding: 0px;
}


.signUpButton{
    width:200px;
    height:50px;
    display:block;
    margin: auto;
    background-image: url('../img/facebookUnselected.jpeg');
    background-repeat:no-repeat;
}

.signUpButton:hover{
    width:200px;
    height:50px;
    display:block;
    margin: auto;
    background-image: url('../img/facebookSelected.jpeg');
    background-repeat:no-repeat;
    cursor: pointer;
}

.img{
    width:250px;
    height:300px;
    margin:auto;
    background-image: url('../img/circle.jpeg');
    background-repeat:no-repeat;
}


.featurette-divider{
    margin-top:50px;
    margin-bottom:50px;
    border-right: 0px none;
    border-left: 0px none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(238, 238, 238) -moz-use-text-color rgb(255, 255, 255);
}

.signUpWrapper{
    display:none;
    z-index:999;
    border-radius: 10px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -175px;
    margin-left: -140px;
    height:350px;
    width:280px;
    background-color:#FFFFFF;
    border: 1px solid  #EEEEEE;
    text-align:center;
}

.signUpWrapper h2{
    margin-top: 20px;
}

.signUpForm input{
    margin: 10px 0px 10px 0px;
}

.signUpForm a{
    margin: 10px 0px 10px 0px;
}

.dimmer{
    display:none;
    background:#000;
    opacity:0.5;
    filter: alpha(opacity=50);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:998;
}

#hero1{
    height: 100%;
    max-height: 700px;
    min-height:630px;
    background-color: transparent;
    border-radius: 0px;
    background-image: url('../img/background.jpg');
    background-repeat:no-repeat;
    background-position: center center;
}

#hero2{
    min-height: 350px;
    max-height:500px;
    background-color: transparent;
    border-radius: 0px;
    background-image: url('../img/starters.jpg');
    background-repeat:no-repeat;
    background-position: center center;
}

#hero1 h1{
    font-size: 100px;
    color: #FFFFFF;
    text-rendering:optimizeLegibility;
}

#hero1 h2{
    font-size: 36px;
    text-rendering:optimizeLegibility;
    line-height: 38px;
    color: #FFFFFF;
    width:750px;
}

#hero2 h2{
    font-size: 36px;
    text-rendering:optimizeLegibility;
    color: #FFFFFF;
    margin-top:100px;
}

.span4 p{
    font-family: "Bad Script", cursive;
    font-size: 24px;
    line-height: 36px;
}

.featurette{
    padding-top:120px;
    overflow: hidden;
}

.featurette-heading{
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
}

.pull-right{
    float:right;
}

.pull-left{
    float:left;
}

.featurette-image{
    margin-top: -120px;
}

.featurette-image.pull-right{
    margin-left: 40px;
}

.featurette-image.pull-left{
    margin-right: 40px;
}

.muted{
    color: rgb(153, 153, 153);
}

.steps{
    font-family: "Bad Script", cursive;
    font-size: 24px;
    line-height: 36px;
}
