@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	text-align: left;
	background: url('../img/sculpture.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#parentContainer1{
	z-index:2;
	position: relative;
	width: 100%;
	height: 100%;
}

#leftChild1{
	float:left;
	position:absolute;
	width: 650px;
	height: 600px;
}

#rightChild1{
	position:absolute;
	margin-left:650px;
	width:calc(100% - 700px);
	height: 600px;
}

h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
	font-size: 70px;
	width: 650px;
	text-align: center;
	margin: 30% 0px 0px 50px;
	color: #FFFFFF;
}

h2{
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
	font-size: 24px;
	width: 650px;
	text-align: center;
	margin: 30px 0px 0px 50px;
	letter-spacing:-1px;
	text-align:center;
	color: #FFFFFF;
	line-height:110%;
}

#signup{
	margin: 160px 0px 0px 100px;
	height:320px;
	width: 260px;
}

#signup input{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
	margin: 0px 0px 20px 0px;
	font-size:20px;
	width:243px;
}

#dimmer{
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:98;
}

#applyButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background-color:#9dce2c;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande",sans-serif;
    font-size:26px;
    font-weight:bold;
    padding:7px 60px;
    text-shadow: 1px 1px #8cb82b;
    text-decoration:none;
}

#applyButton:hover {
    background-color:#8cb82b;
    cursor: pointer;
}

#applyButton:active {
    position:relative;
    top:1px;
}
